html {
  height: 100%;
  overflow-y: hidden;
}

body {
  margin: 0px;
}

.App {
  display: flex;
  background-color: #494545;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.App-editor, .App-previewer {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100vh;
}

.App-editor {
  border-right: 3px solid lightgrey;
  box-sizing: border-box;
}

textarea:focus {
  outline: none;
}

.App-editor > h2, .App-previewer > h2 {
  text-align: center;
}

#editor, #preview {
  width: 100%;
  height: 100%;
  border: none;
  border-top: 3px solid lightgrey;
  box-sizing: border-box;
  padding: 20px;
  overflow-y: scroll;
}

#preview a:link {
  color: lightskyblue;
}

textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: inherit;
}